/* Reset e variáveis globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/desktop-dark-3.jpg); /* Imagem para o modo escuro */
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light-mode {
  --text-color: black;
  --bg-url: url(./assets/light-teste.jpg); /* Imagem para o modo claro */
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--bg-url) no-repeat center center/cover;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease, color 0.5s ease;
}

body * {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Contêiner principal */
.container {
  text-align: center;
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
  min-height: 100vh;
}

#profile {
  text-align: center;
  padding: 24px;
  animation: Artebill 4s;
}

#profile img {
  width: 180px;
  transition: opacity 0.3s ease;
  animation: Artebill 4s;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  margin-right: 8p;
  animation: Artebill 4s;
}

/* Botões */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  animation: Artebill 4s;
}

button.light-mode {
  background-color: #000;
  color: #fff;
}

button.dark-mode {
  background-color: #fff;
  color: #000;
}

/* Modificação na lista de modos */
.mode-list {
  list-style-type: none;
  padding: 0;
  display: none;
}

.mode-list li {
  margin: 16px;
}

.light-mode .mode-list.light-mode {
  display: block;
}

.dark-mode .mode-list.dark-mode {
  display: block;
}

/* Listas de links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  animation: Artebill 4s;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s, border-color 0.2s, color 0.2s;
  animation: Artebill 4s;
}

/* Modificação para ícones */
ul li a i {
  margin-right: 20px;
  font-size: 20px;
  color: var(--text-color);
  transition: color 0.3s;
}

/* Efeito de hover */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

ul li a:hover i {
  color: #ff6347;
}

ul li a:hover {
  color: #ff6347;
}

li {
  list-style: none;
}
/* QR Code */
#qr-code img {
  width: 120px;
  height: auto;
  border-radius: 20%;
  animation: pulse 1.5s infinite ease-in-out;
}

/* Responsividade */
@media (max-width: 600px) {
  #qr-code img {
    width: 120px;
    border-radius: 20%;
  }
  body {
    background-size: cover;
    background-position: center center;
  }

  .container {
    padding: 0 12px;
  }

  #profile img {
    width: 150px;
  }
}

footer {
  padding: 1px 0;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
  animation: Artebill 4s;
}

/* Animações */
@keyframes Artebill {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
